$margin-section: 100px;
@import "lib/bootstrap/scss/bootstrap"; /* roboto-300 - latin-ext_latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url("src/fonts/roboto/roboto-v20-latin-ext_latin-300.eot");
  /* Legacy iOS */
  /* IE9 Compat Modes */
  src:local('Roboto Light'), local('Roboto-Light'), url('src/fonts/roboto/roboto-v20-latin-ext_latin-300.eot?#iefix') format('embedded-opentype'),
  /* IE6-IE8 */
  url('src/fonts/roboto/roboto-v20-latin-ext_latin-300.woff2') format('woff2'),
  /* Super Modern Browsers */
  url('src/fonts/roboto/roboto-v20-latin-ext_latin-300.woff') format('woff'),
  /* Modern Browsers */
  url('src/fonts/roboto/roboto-v20-latin-ext_latin-300.ttf') format('truetype'),
  /* Safari, Android, iOS */
   url("src/fonts/roboto/roboto-v20-latin-ext_latin-300.svg#Roboto") format('svg');
}
/* roboto-regular - latin-ext_latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url("src/fonts/roboto/roboto-v20-latin-ext_latin-regular.eot");
  /* Legacy iOS */
  /* IE9 Compat Modes */
  src:local('Roboto'), local('Roboto-Regular'), url('src/fonts/roboto/roboto-v20-latin-ext_latin-regular.eot?#iefix') format('embedded-opentype'),
  /* IE6-IE8 */
  url('src/fonts/roboto/roboto-v20-latin-ext_latin-regular.woff2') format('woff2'),
  /* Super Modern Browsers */
  url('src/fonts/roboto/roboto-v20-latin-ext_latin-regular.woff') format('woff'),
  /* Modern Browsers */
  url('src/fonts/roboto/roboto-v20-latin-ext_latin-regular.ttf') format('truetype'),
  /* Safari, Android, iOS */
   url("src/fonts/roboto/roboto-v20-latin-ext_latin-regular.svg#Roboto") format('svg');
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f2f6f5;
}
//  --------------------- Navigation --------------------- //

#page-header {
  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  top: 0;
  z-index: 999;

  .container-fluid {
    padding-right: 0;
    padding-left: 0;
  }

  .navbar {
    background-color: #f2f6f5;
    padding-top: 100px;
    padding-bottom: 0;
    width: 100%;
    border-bottom: 1px dotted black;

    @media (max-width: 991px) {
      padding-top: 30px;
    }

    .navbar-brand {
      position: absolute;
      right: 15%;
      top: 80px;
      width: 300px;
      height: 60px;
      @media (max-width: 991px) {
        position: static;
        margin-left: auto;
        margin-right: auto;
      }

      img {
        object-fit: contain;
        width: 100%;
        height: 100%;
      }
    }
  }

  .navbar-nav {
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    .nav-item,
    .nav-link {
      color: #512b58;
      font-weight: bold;
    }

    .nav-item:hover,
    .nav-link:hover {
      color: #63707e;
    }
  }
}

#bild {
  .doyou {
    font-weight: bold;
    text-shadow: 1px 1px 2px darkslateblue;
    padding-top: 50px;
    @include media-breakpoint-up(md) {
      font-size: 4.2rem;
    }
    @include media-breakpoint-up(lg) {
      font-size: 4.2rem;
    }
    @include media-breakpoint-up(xl) {
      font-size: 4.2rem;
      padding-top: 90px;
    }
  }

  .need{
    font-weight: bold;
    text-shadow: 1px 1px 2px darkslateblue;
    padding-top: 50px;
    @include media-breakpoint-up(md) {
      font-size: 4.2rem;
    }
    @include media-breakpoint-up(lg) {
      font-size: 4.2rem;
    }
    @include media-breakpoint-up(xl) {
      font-size: 4.2rem;
      padding-left: 50px;
      padding-right: 50px;
    }
  }

  .somehelp{
    font-weight: bold;
    text-shadow: 1px 1px 2px darkslateblue;
    padding-top: 400px;
    @include media-breakpoint-up(md) {
      font-size: 4.2rem;
    }
    @include media-breakpoint-up(lg) {
      font-size: 4.2rem;
    }
    @include media-breakpoint-up(xl) {
      font-size: 4.2rem;
      padding-top: 350px;
    }
  }

  .parallax-window {
    min-height: 95vh;
    background: transparent;
  }
}
//  --------------------- News Seite --------------------- //

#main {
  margin-top: 30px;
  padding-bottom: 100px;
}

section {
  @media (max-width: 991px) {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

#main {
  font-family: Roboto, Helvetica, sans-serif;
  font-weight: 300;

  .container {
    height: 100%;

    .row {
      height: 100%;
    }

    .card {
      border: 1px dotted black;
      height: 15rem;
      @include media-breakpoint-up(md) {
        height: 17rem;
      }
      @include media-breakpoint-up(lg) {
        height: 17rem;
      }

      .card-title {
        text-decoration: underline;
        color: #512b58;
      }

      .card-body {
        font-size: 1rem;
        color: #512b58;

        .btn {
          background-color: #f2f6f5;
          color: #512b58;
          border: 1px solid #512b58;
        }
        .btn:hover{
          color: grey;
        }
      }
    }
  }

  .bildMitte {
    float: right;
    width: 60%;
    height: 100%;
  }

  img {
    width: 100%;
    height: auto;
  }

  .textMitte {
    font-size: 1.6rem;
  }
}


//  --------------------- Manuelle THerapie Seite --------------------- //

#manuelleTherapie {
  padding-top: 100px;
  padding-bottom: 100px;

  .parallax-window {
    min-height: 50vh;
    background: transparent;
  }

  .row {
    height: 50vh;
    justify-content: center;
  }
}
//  --------------------- Faszientherapie Seite --------------------- //

#perzeptivePädagogik {
  padding-top: 100px;
  padding-bottom: 100px;
  @media (max-width: 991px) {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  background-color: #c8dad3;

  .carousel-perzeptive-pädagogik {
    background-color: #f2f6f5;
  }

  .carousel-text {
    width: 75%;
    @media (max-width: 991px) {
      width: 100%;
    }
  }

  .carousel-bg {
    background-color: #f2f6f5;
  }

  .col-md {
    margin: 0;
    padding: 0;
  }

  .carousel-control-next-icon,
  .carousel-control-prev-icon {
    filter: invert(60%);
  }

  .carousel-indicators {
    filter: invert(60%);
  }
}
//  --------------------- Curriculum Vitae --------------------- //

#cv {
  background-color: #c8dad3;
  padding-top: 100px;
  padding-bottom: 100px;
  @media (max-width: 991px) {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .container {
    height: 100%;

    .row {
      height: 100%;
    }
  }

  .cvLinks {
    float: right;
    width: 80%;
  }

  .cvRechts {
    width: 80%;
  }
}
